<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275783314048-a9ku7rbhn1jadrn5da40aet97sr4ueo6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275783314048-a9ku7rbhn1jadrn5da40aet97sr4ueo6</string>
	<key>API_KEY</key>
	<string>AIzaSyBKT0IfnDns2nJtR7zqIo9yK_E5Z2Zssqc</string>
	<key>GCM_SENDER_ID</key>
	<string>275783314048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kholod.com.SroreFood</string>
	<key>PROJECT_ID</key>
	<string>storefood-55df0</string>
	<key>STORAGE_BUCKET</key>
	<string>storefood-55df0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275783314048:ios:f00272fe5ba351b8b51465</string>
</dict>
</plist>